<div class="card">
    <p-table
        #dt
        [value]="datalist"
        [exportHeader]="'customExportHeader'"
        exportFilename="Womens-Weight-Teamwise"
        [columns]="cols"
        selectionMode="multiple"
        [(selection)]="selectedDatalist"
        dataKey="id"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['team']"
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    >
        <ng-template pTemplate="caption">
            <div class="table-header" style="font-size: x-large">
                FC-11W wt: WOMEN's WEIGHT OF {{this.stateName | uppercase}}
            </div>
            <br />
            <div class="flex">
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file"
                    (click)="dt.exportCSV()"
                    class="mr-2"
                    pTooltip="CSV"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="p-button-success mr-2"
                    pTooltip="XLS"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-pdf"
                    (click)="exportPdf()"
                    class="p-button-warning mr-2"
                    pTooltip="PDF"
                    tooltipPosition="bottom"
                ></button>
                <!-- <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({ selectionOnly: true })" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->

                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                            )
                        "
                        placeholder="Global Search"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr styleClass="row-accessories">
                <th
                    pSortableColumn="team"
                    rowspan="2"
                    style="
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Team
                        <p-sortIcon field="team"></p-sortIcon>
                    </div>
                </th>
                <th
                    colspan="5"
                    class="text-center"
                    style="
                        min-width: 7rem;
                        background-color: rgb(245, 241, 241);
                    "
                >
                Result of Weight Measurement
                </th>
                <th
                    rowspan="2"
                    pSortableColumn="total"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                    Total 
                        <p-sortIcon field="total"></p-sortIcon>
                    </div>
                </th>
                <th
                    rowspan="2"
                    pSortableColumn="numberOfWomen"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                    Number of women 15-49 
                        <p-sortIcon field="numberOfWomen"></p-sortIcon>
                    </div>
                </th>

                <th
                rowspan="2"
                pSortableColumn="womenWtOutOfRange"
                style="
                    min-width: 10rem;
                    text-align: center;
                    background-color: rgb(245, 241, 241);
                "
            >
                <div
                    class="flex justify-content-between align-items-center"
                >
                Among women measured Weight out of range (%)
                    <p-sortIcon field="womenWtOutOfRange"></p-sortIcon>
                </div>
            </th>

            <th
            rowspan="2"
            pSortableColumn="womenWithValidWtData"
            style="
                min-width: 10rem;
                text-align: center;
                background-color: rgb(245, 241, 241);
            "
        >
            <div
                class="flex justify-content-between align-items-center"
            >
            Women with valid Weight data (%) 
                <p-sortIcon field="womenWithValidWtData"></p-sortIcon>
            </div>
        </th>



            </tr>

            <tr>
                <th
                    pSortableColumn="mesured"
                    style="
                        min-width: 14rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                    Measured 
                        <p-sortIcon field="mesured"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="womenNotPresent"
                    style="
                        min-width: 14rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                    Woman not present 
                        <p-sortIcon field="womenNotPresent"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="womenRefused"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                    Woman Refused 
                        <p-sortIcon field="womenRefused"></p-sortIcon>
                    </div>
                </th>

                <th
                pSortableColumn="other"
                style="
                    min-width: 10rem;
                    text-align: center;
                    background-color: rgb(245, 241, 241);
                "
            >
                <div
                    class="flex justify-content-between align-items-center"
                >
                Other 
                    <p-sortIcon field="other"></p-sortIcon>
                </div>
            </th>
            <th
            pSortableColumn="missing"
            style="
                min-width: 10rem;
                text-align: center;
                background-color: rgb(245, 241, 241);
            "
        >
            <div
                class="flex justify-content-between align-items-center"
            >
            Missing 
                <p-sortIcon field="missing"></p-sortIcon>
            </div>
        </th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datalist>
            <tr class="p-selectable-row">
                <td style="text-align: center">
                    <span class="p-column-title">Team</span>
                    {{ datalist.team }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Measured </span>

                    <span class="ml-1 vertical-align-middle">
                        {{ datalist.mesured || 0 }}%</span
                    >
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Woman not Present </span>

                    <span class="ml-1 vertical-align-middle">
                        {{ datalist.womenNotPresent || 0 }}%
                    </span>
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Woman Refused </span>
                    {{ datalist.womenRefused || 0 }}%
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Other </span>
                    {{ datalist.other || 0 }}%
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Missing </span>
                    {{ datalist.missing || 0 }}%
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Total </span>
                    {{ datalist.total || 0 }}%
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Number of Women 15-49 </span>
                    {{ datalist.numberOfWomen || 0 }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Among Women Measured Weight Out of Range (%) </span>
                    {{ datalist.womenWtOutOfRange || 0 }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Women with Valid Weight Data (%) </span>
                    {{ datalist.womenWithValidWtData || 0 }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">No Data Available</td>
            </tr>
        </ng-template>
    </p-table>
</div>
