<div class="card">
    <h5 style="text-align: center;">PLEASE SELECT TYPE OF INDICATOR</h5>
    <div class="flex flex-wrap gap-6 justify-content-center">
        <button pButton pRipple type="button" label="Social Indicator" (click)="changeValue('social')" routerLink=""></button>
        <button pButton pRipple type="button" label="CAB Indicators" class="p-button-secondary" (click)="changeValue('cab')" routerLink=""></button>
        <button pButton pRipple type="button" label="Additional Indicators" class="p-button-success" (click)="changeValue('additional')" routerLink=""></button>
        
    </div>
</div>