                      
                         
<div class="card">
    <p-table                    
      #dt
      [value]="datalist"
      [exportHeader]="'customExportHeader'"
      exportFilename="Birth-Displacement"
      [columns]="cols"
      selectionMode="multiple"
      [(selection)]="selectedDatalist"
      dataKey="id"
      [rowHover]="true"
      [rows]="10" 
      [showCurrentPageReport]="true" 
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['state']"
      styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
  >
    
      <ng-template pTemplate="caption">
        <div class="table-header" style="font-size:x-large;">
            FC-6: Birth displacement
        </div> 
        <br/>
        <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
  
            
            
        
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Global Search"
            />
           
          </span>
         
        </div>
          
      </ng-template>
      <ng-template pTemplate="header" >
          
        
          <tr styleClass="row-accessories" >                            
          <th pSortableColumn="state"  rowspan="2" style="text-align: center; background-color: rgb(245, 241, 241);" >
            
             <div class="flex justify-content-between align-items-center">
              State
              <p-sortIcon field="state"></p-sortIcon>
              
            </div> 
          </th>
          <th colspan="11" class="text-center" style="min-width: 7rem;background-color: rgb(245, 241, 241);">Result of individual interview </th>
          <th rowspan="2" pSortableColumn="numberOfBirths" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                Number Of Births
              <p-sortIcon field="numberOfBirths"></p-sortIcon>
              
            </div>
          </th>
          <th rowspan="2" pSortableColumn="birthYearRatio_2018_2017" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                Birth Year Ratio 2018-2017
              <p-sortIcon field="birthYearRatio_2018_2017"></p-sortIcon>
              
            </div>
          </th>
        </tr>
        
      
  
        <tr>
          <th pSortableColumn="year_2014" style="min-width: 14rem;text-align: center;background-color: rgb(245, 241, 241);;">
            <div class="flex justify-content-between align-items-center">
                2014 
              <p-sortIcon field="year_2014"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="year_2015" style="min-width: 14rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
              2015
              <p-sortIcon field="year_2015"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="year_2016" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
              2016
              <p-sortIcon field="year_2016"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="year_2017" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
              2017
              <p-sortIcon field="year_2017"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="year_2018" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
             2018
              <p-sortIcon field="year_2018"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="year_2019" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                2019
              <p-sortIcon field="year_2019"></p-sortIcon>
              
            </div>
          </th>

          <th pSortableColumn="year_2020" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                2020
              <p-sortIcon field="year_2020"></p-sortIcon>
              
            </div>
          </th>
          <!-- <th rowspan="2" class="text-center">Percent</th>
          <th rowspan="2" class="text-center">Number</th> -->
          <th pSortableColumn="year_2021" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                2021
              <p-sortIcon field="year_2021"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="year_2022" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                2022
              <p-sortIcon field="year_2022"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="year_2023" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                2023
              <p-sortIcon field="year_2023"></p-sortIcon>
              
            </div>
          </th>
          <th pSortableColumn="missing" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
            <div class="flex justify-content-between align-items-center">
                missing
              <p-sortIcon field="missing"></p-sortIcon>
              
            </div>
          </th>
        </tr> 
      </ng-template>
      <ng-template pTemplate="body" let-datalist>
        <tr class="p-selectable-row">
          
          <td style="text-align: center;">
            <span class="p-column-title">State</span>
            {{ datalist.state }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2014</span>
            
            <span class="ml-1 vertical-align-middle"
              >{{ datalist.year_2014  }}</span
            >
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2015</span>
            
            <span class="ml-1 vertical-align-middle"
              >{{ datalist.year_2015 }}</span
            >
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2016</span>
            {{ datalist.year_2016 }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2017</span>
            {{ datalist.year_2017 }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2018</span>
            {{datalist.year_2018}}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2019</span>
            
            {{ datalist.year_2019 }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2020</span>
            
            {{ datalist.year_2020 }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2021</span>
            
            {{ datalist.year_2021 }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">2022</span>
            
            {{ datalist.year_2022 }}
          </td>

          <td style="text-align: center;">
            <span class="p-column-title">2023</span>
            
            {{ datalist.year_2023 }}
          </td>




          <td style="text-align: center;">
            <span class="p-column-title">missing</span>
            
            {{ datalist.missing }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">Number Of Births</span>
            
            {{ datalist.numberOfBirths }}
          </td>
          <td style="text-align: center;">
            <span class="p-column-title">Birth Year Ratio 2018-2017</span>
            
            {{ datalist.birthYearRatio_2018_2017 }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="11">No Data Available</td>
          
        </tr>
      </ng-template>
      
    </p-table>
  </div>
  