<div class="layout-footer" style="border: none">
    <span class="md:font-medium"
        > International Institute for Population Sciences Govandi Station Road, Deonar,
       Mumbai-400 088 Maharashtra, India Tel:(91+)(22)42372449/42372416</span
    >
</div>
<div class="layout-footer" style="border: none">
    <span class="md:font-medium"
        >Copyright &copy; 2009 National Family Health Survey. All Rights Reserved.</span
    >
</div>
<div class="layout-footer" style="border: none">
    <span class="md:font-medium" style="text-align: right;">Designed by CDAC Mumbai</span>

</div>


