<div class="card">
    <p-table                    
      #dt
      [value]="datalist"
      [exportHeader]="'customExportHeader'"
      exportFilename="ELIGIBLE-WOMAN-RESOPNSE-RATE-memberwise"
      [columns]="cols"
      selectionMode="multiple"
      [(selection)]="selectedDatalist"
      dataKey="id"
      [rowHover]="true"
      [rows]="10" 
      [showCurrentPageReport]="true" 
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['member']"
      styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
  >
  <ng-template pTemplate="caption">
    <div class="table-header" style="font-size:x-large;">
      FC-3W : ELIGIBLE WOMAN RESOPNSE RATE 
    </div> 
    <br/>
    <div class="flex">
        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>

        
        
    
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Global Search"
        />
       
      </span>
     
    </div>
      
  </ng-template>
  <ng-template pTemplate="header" >
      
    
      <tr styleClass="row-accessories" >                            
      <th pSortableColumn="member"  rowspan="2" style="text-align: center; background-color: rgb(245, 241, 241);" >
        
        <div class="flex justify-content-between align-items-center">
            Member
            <p-sortIcon field="member"></p-sortIcon>
            
          </div> 
      </th>
      <th colspan="7" class="text-center" style="min-width: 7rem;background-color: rgb(245, 241, 241);">Result of individual interview </th>
      <th rowspan="2" pSortableColumn="percentVal" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
            Percentage
          <p-sortIcon field="percentVal"></p-sortIcon>
          
        </div>
      </th>
      <th rowspan="2" pSortableColumn="numberVal" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
            Number
          <p-sortIcon field="numberVal"></p-sortIcon>
          
        </div>
      </th>
    </tr>
    
  

    <tr>
      <th pSortableColumn="completed" style="min-width: 14rem;text-align: center;background-color: rgb(245, 241, 241);;">
        <div class="flex justify-content-between align-items-center">
          Completed 
          <p-sortIcon field="completed"></p-sortIcon>
          
        </div>
      </th>
      <th pSortableColumn="notAtHome" style="min-width: 14rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
          Not At Home
          <p-sortIcon field="notAtHome"></p-sortIcon>
          
        </div>
      </th>
      <th pSortableColumn="postponed" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
          Postponed
          <p-sortIcon field="postponed"></p-sortIcon>
          
        </div>
      </th>
      <th pSortableColumn="refused" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
          Refused
          <p-sortIcon field="refused"></p-sortIcon>
          
        </div>
      </th>
      <th pSortableColumn="partlyCompleted" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
          Partly Completed
          <p-sortIcon field="partlyCompleted"></p-sortIcon>
          
        </div>
      </th>
      <th pSortableColumn="incapacited" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
            Incapacited
          <p-sortIcon field="incapacited"></p-sortIcon>
          
        </div>
      </th>

      <th pSortableColumn="other" style="min-width: 10rem;text-align: center;background-color: rgb(245, 241, 241);">
        <div class="flex justify-content-between align-items-center">
            Other
          <p-sortIcon field="other"></p-sortIcon>
          
        </div>
      </th>
      <!-- <th rowspan="2" class="text-center">Percent</th>
      <th rowspan="2" class="text-center">Number</th> -->
    

    </tr> 
  </ng-template>
  <ng-template pTemplate="body" let-datalist>
    <tr class="p-selectable-row">
      
      <td style="text-align: center;">
        <span class="p-column-title">Team</span>
        {{ datalist.member }}
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Completed</span>
        
        <span class="ml-1 vertical-align-middle"
          >{{ datalist.completed  }}%</span
        >
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Not at home</span>
        
        <span class="ml-1 vertical-align-middle"
          >{{ datalist.notAtHome }}%</span
        >
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Postponed</span>
        {{ datalist.postponed }}%
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Refused</span>
        {{ datalist.refused }}%
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Partly Completed</span>
        {{datalist.partlyCompleted}}%
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Incapacited</span>
        
        {{ datalist.incapacited }}%
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Other</span>
        
        {{ datalist.other }}%
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Percentage</span>
        
        {{ datalist.percentVal }}%                     
      </td>
      <td style="text-align: center;">
        <span class="p-column-title">Number</span>
        
        {{ datalist.numberVal }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No Data Available</td>
      
    </tr>
  </ng-template>
  
</p-table>
</div>
